.btn {
  padding: 1.5rem 3rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  width: 90%;
  border: none;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(0.9);
}

.btn:active {
  transform: scale(1);
}

.btn--dark {
  background-color: var(--very-dark-black);
  color: var(--light-grayish-orange);
}

.btn--light {
  background-color: var(--light-grayish-orange);
  color: var(--very-dark-black);
}