.header__logo-box {
  padding: 2rem 1rem;
}

.hero {
  padding: 1rem;
}

.heading-main {
  font-weight: 700;
}

.product {
  padding: 0 0 10rem 0;
}

.product__box {
  background-color: var(--very-dark-black);
  position: absolute;

  background-image: url(/equalizer-landing-page/images/bg-pattern-1.svg),
    url(/equalizer-landing-page/images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: right 15rem top -3rem;
}

.product__image {
  height: 30%;
  width: 30%;

  position: relative;
  left: 10rem;
  top: -8rem;
}

.product__cta {
  background-color: var(--soft-red);
  color: var(--light-grayish-orange);
  border-radius: 1rem;

  padding: 5rem 3rem;
  width: 50%;
  z-index: 100;
  position: relative;
  top: 12rem;
  left: 23rem;
}

.product__plan {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product__price {
  font-size: 5rem;
}

.footer {
  padding: 5rem 1rem;
}

.footer__container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.footer__text-box {
  width: 60%;
}

.footer__logo-box {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.footer__text-bold {
  text-decoration: none;
  color: var(--very-dark-black);
  font-weight: 600;
}
